/*Geral*/
body{
    font-family: sans-serif;

}
/*estilos da div-paragrafo*/
#div-paragrafo{
    color: aliceblue;
    background-color: rgb(93, 93, 93);
}
/* class .longo */
.longo{
    background-color: pink;
}
/* estilo do id p1 */
#p1{
    color: brown;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Estilo para tag <p> */
p{
    font-family: 'Courier New', Courier, monospace;
}